# {{TITLE}}

## Setup

```sh
npm install && npm run build
```

will install all dependencies and build the application into the /dist folder.

## Run

```sh
npm start
```

will start the local development HTTP Server listening on Port {{WEBPACK_DEV_SERVER_PORT}} by default.